.container {
    display: inline-flex;
    background-color: peru;
    border: 2px solid black;
    padding: 5px;
    flex-wrap: nowrap;
    height: 500px;
    width: 1000px;
    /*flex:1 1 auto;*/
}

.item {
    flex-wrap: wrap;
    background: lightblue;
    border: 1px solid black;
    margin: 2px;
    flex: 1 1 auto;
}

.one {
    flex:1 0 500px;
 }

